#im_css {
  display: none;
}

#tab_conversation, #tab_friends, #tab_spam, #tab_search, #tab_write, #tab_important {
  display: none;
}
#im_top_tabs .active_link {
  display: block;
}
#im_bar {
  padding: 5px;
  background: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
}

.im_bar_controls {
  padding: 3px 5px 3px 0;
  display: none;
}
#im_bar .im_bar_controls .button_blue {
  margin: 3px 0 3px 8px;
}
#im_bar .im_bar_controls button {
  padding: 4px 10px;
  line-height: 1.36em;
  height: 24px;
}
.im_cancel_mark {
  padding: 6px 0 0;
}
.im_spam_hint {
  color: #777;
  padding: 8px 0 0 8px;
}

#im_tabs {
  padding: 3px 0;
}
.im_tab,
.im_tab_selected,
.im_tab_over {
  cursor: pointer;
  padding: 5px 1px 5px 5px;
  float: left;
}
.im_tab2 {
  padding: 3px 6px 4px;
}
.im_tab_over .im_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #E1E7ED;
}
.im_tab_selected .im_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #597DA3;
}
.im_tab3 {
  font-weight: bold;
  color: #45688E;
  padding-left: 2px;
  padding-right: 5px;
  max-width: 300px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.im_tab_selected .im_tab3 {
  color: #FFF;
}

.im_tab.muted .im_tab_muted_span {
  background: url(/images/muted.png) 0 -14px no-repeat;
  height: 10px;
  margin-bottom: -2px;
  padding-left: 10px;
  margin-right: 6px;
}

.im_tab_selected.muted .im_tab_muted_span {
  background: url(/images/muted.png) 0 0 no-repeat;
  height: 10px;
  margin-bottom: -2px;
  padding-left: 10px;
  margin-right: 5px;
}

.im_tabx {
  margin-top: 2px;
  width: 11px;
  height: 11px;
}
.im_tab .im_tabx {
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.12;
  filter: alpha(opacity=12);
}

.im_tab_over .im_tabx_over {
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.im_tab_selected .im_tabx {
  background: url(/images/pics/im_tabx.gif?1) 0 -13px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.im_tab_selected .im_tabx_over {
  background: url(/images/pics/im_tabx.gif?1) 0 -13px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.im_unread {
  font-size: 0.9em;
  vertical-align: bottom;
}
#im_progress {
  margin-top: 2px;
}

#im_to_end_wrap {
  display: none;
  width: 627px;
  cursor: pointer;
  position: absolute;
  margin-top: -35px;
  height: 14px;
  padding: 10px 0px;
  text-align: center;
  background: #E1E7E9;
  background: rgba(225, 231, 233, 0.95);
  color: #738392;
  border-top: 1px solid #DAE2E8;
}
#im_to_end_wrap:hover {
  background: #E6EDF0;
  background: rgba(230, 237, 240, 0.95);
}
.im_to_end {
  padding: 0px 16px;
  background: url(/images/im_toend.gif) no-repeat right 0px;
}
#im_top_sh,
#im_bottom_sh {
  display: none;
  position: absolute;
  width: 627px;
  height: 3px;
  z-index: 100;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  margin-top: -1px;
}
#im_bottom_sh {
  margin: -2px 0 0;
  top: 0;
  left: 0;
}
.im_to_end_controls #im_peer_controls {
  border-top: 1px solid #D3DBE3;
}
.im_to_end_controls #im_bottom_sh {
  visibility: hidden;
}
.im_to_end_controls #im_to_end_wrap {
  display: block;
}

.dialogs_row {
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  border-bottom: 1px solid #e4e8ed;
}
.dialogs_deleted_row {
  cursor: default;
}
.dialogs_new_msg {
  background: #edf1f5;
  border-color: #DAE1E8;
}
.dialogs_row_t {
  width: 100%;
}
.dialogs_row_over {
  background: #edf1f5;
  border-color: #DAE1E8;
}
.dialogs_row_over .dialogs_new_msg {
  background: #DAE1E8;
}
.dialogs_row_over .dialogs_online,
.dialogs_new_msg .dialogs_online {
  color: #93a2b3;
}
.dialogs_row_over .dialogs_date,
.dialogs_new_msg .dialogs_date {
  color: #8795a5;
}
.dialogs_photo {
  width: 50px;
  padding: 5px 5px 2px;
  vertical-align: middle;
}
.dialogs_info {
  padding: 5px;
  vertical-align: middle;
  width: 125px;
}
.dialogs_user {
  width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.dialogs_online {
  color: #aaa;
  padding: 3px 0 2px;
}
.dialogs_date {
  color: #999999;
  font-size: 0.9em;
}
.dialogs_msg_contents {
  padding: 0px;
  vertical-align: middle;
  position: relative;
}
.dialogs_msg_body {
  padding: 6px 8px 8px;
}
.dialogs_deleted_row .dialogs_msg_body {
  color: #777;
  line-height: 1.81em;
  text-align: center;
}
.dialogs_msg_text {
  color: #67829E;
  line-height: 160%;
  width: 295px;
}
.dialogs_msg_body .dialogs_inline_author {
  width: 32px;
  height: 32px;
  margin: 3px 10px 2px 0;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dialogs_msg_body.dialogs_new_msg {
  min-height: 37px;
}
.dialogs_unread_td {
  width: 1px;
  vertical-align: middle;
}
.dialogs_unread {
  margin: 0 3px;
  background: #D1DAE3;
  padding: 4px 6px 4px 5px;
  font-weight: bold;
  color: #436796;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dialogs_new_msg .dialogs_push_muted,
.dialogs_row_over .dialogs_push_muted {
  background: url(/images/muted.png) 0 -39px no-repeat;
}
.dialogs_push_muted {
  background: url(/images/muted.png) 0 -25px no-repeat;
  height: 9px;
  margin-left: 4px;
  padding-left: 10px;
}

div.dialogs_inline_chatter {
  margin: 0 4px 4px 0;
  float: left;
  width: 23px;
  height: 23px;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
img.dialogs_inline_chatter {
  width: 23px;
  height: 23px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
div.dialogs_inline_chatter_half {
  height: 50px;
}
img.dialogs_inline_chatter_half {
  margin: 0px -12px;
  height: 50px;
  width: 50px;
}

.im_friend div.dialogs_inline_chatter {
  width: 20px;
  height: 20px;
  margin: 0 3px 3px 0;
}
.im_friend img.dialogs_inline_chatter {
  width: 20px;
  height: 20px;
}
.im_friend div.dialogs_inline_chatter_half {
  height: 43px;
}
.im_friend img.dialogs_inline_chatter_half {
  height: 43px;
  width: 43px;
}

#im_dialogs_next {
  display: none;
}
.dialogs_chat_title {
  font-weight: bold;
  width: 240px;
}
.dialogs_del_wrap {
  display: none;
  position: absolute;
  right: 15px;
  margin-top: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 99999;
}
.dialogs_new_msg .dialogs_del_wrap {
  margin-top: 2px;
}

.dialogs_row_over .dialogs_del_wrap {
  display: block;
}
.dialogs_del_wrap:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dialogs_del {
  cursor: pointer;
  background: url(/images/pics/statusx_op.gif) no-repeat;
  height: 11px;
  width: 11px;
}
.dialogs_typing_box {
  color: #66819F;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  opacity: 0.0;
}
.dialogs_typing_box .dialogs_typing_icon {
  background-image: url('/images/typing_dialogs.gif');
  width: 15px;
  height: 11px;
  display: inline-block;
  margin-right: 8px;
}

#im_more_dialogs, #im_more_friends {
  display: block;
  margin-top: -1px;
  border-top: 1px solid #DAE1E8;
  text-align: center;
  padding: 10px;
}
.im_more {
  display: block;
  margin: 0 10px 10px;
}
.im_morenew {
  display: block;
  margin: 10px 10px 0px;
}
.im_more_progress {
  display: none;
  padding: 10px 10px 11px; /* border */
  background: url(/images/upload.gif) 50% 50% no-repeat;
}
.im_more_text {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #DAE1E8;
}
.im_more_loading {
  cursor: default;
}
.im_more_loading .im_more_text {
  display: none;
}
.im_more_loading .im_more_progress {
  display: block;
}
#im_more_dialogs:hover, #im_more_friends:hover {
  text-decoration: none;
  background: #E9EDF1;
}
.im_more:hover,
.im_morenew:hover {
  text-decoration: none;
}
.im_more:hover .im_more_text,
.im_morenew:hover .im_more_text {
  background: #E9EDF1;
}

/* Conversation log */
.im_log_t {
  /* margin: 0 71px 0 auto; */
  width: 100%;
}

.im_log_t td {
  border-top: 5px solid #FFF;
  padding: 5px;
  vertical-align: top;
}
.im_log_t td td {
  border-top: none;
  padding: 0px;
}
.im_log_t #html5_player td {
  border-top: 0;
}
.im_unread_bar {
  margin: 10px -5px 16px;
  color: #8D8F91;
  text-align: center;
  height: 7px;
  border-bottom: 1px solid #DCE3E9;
}
.im_unread_bar_wrap {
  background: #FFF;
  padding: 0 9px;
}
.im_unread_bar_text {
  padding-left: 3px;
  padding-right: 14px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAJCAYAAAD+WDajAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUKFNjYICC1Ws3/IdhmBicpqcksl3obLCDsClAcTFe18JMQNYBAMt0XdqbrQHWAAAAAElFTkSuQmCC) no-repeat right 3px;
}
.im_log_t .im_in,
.im_log_t .im_out {
  cursor: pointer;
}
.im_log_t .im_chat_event {
  cursor: default;
}
.im_log_t .wall_module .post_media {
  width: auto;
}
.im_log_t .post_media td {
  padding: 0;
  border-top: 0;
}
.im_log_author {
  text-align: right;
  padding-right: 10px !important;
  width: 32px;
}
.im_log_author a {
  color: #8FAAC7;
  font-weight: bold;
}
.im_in .im_log_author a {
  color: #2B587A;
}
div.im_log_author_chat_thumb {
  width: 32px;
  height: 32px;
  overflow: hidden;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: right;
}
img.im_log_author_chat_thumb {
  width: 32px;
}
.im_log_author_chat_name {
  padding-bottom: 1px;
  margin-top: -1px;
  color: #777;
}
.im_new_msg .im_log_author_chat_name {
  color: #738392;
}
.im_log_author_chat_name .mem_link,
.im_log_author_chat_name .im_chat_link,
.im_log_author_chat_name .group_link {
  font-weight: bold;
}
.im_log_body {
  line-height: 150%;
  width: 356px;
  /* vertical-align: middle ! important; */
}
.im_log_body div.wrapped,
.im_log_body .wall_module .post_media,
.im_single_log .im_log_body div.im_fwd_log_wrapped {
  width: 350px;
  overflow: visible;
}
.im_log_body div.im_fwd_log_wrapped .post_media {
  width: 290px;
  padding-top: 0;
}
.im_log_body div.im_fwd_log_wrapped .im_msg_media_doc .post_media {
  width: auto;
  padding-top: 8px;
}
.im_log_body div.im_fwd_log_wrapped .media_desc {
  padding-top: 3px;
}
.im_fwd_log_body div.wrapped,
.im_log_body div.wrapped {
  padding-left: 4px;
  margin-left: -4px;
}
.im_fwd_log_body .explain {
  color: #777;
  line-height: 140%;
}
.im_log_body  .wall_module .video {
  *position: static;
}
.im_log_body  .wall_module .video div {
  *display: none;
}
.wall_module .im_msg_media .post_media {
  padding-top: 4px;
}
.im_log_body .im_log_match {
  background: #E1E7ED;
  border-bottom: 1px solid #DAE1E8;
  margin: 0px;
  padding: 0px 1px;
}
.im_msg_media_photo {
  min-height: 87px;
  *height: 87px;
  display: inline-block;
}
.wall_module .im_msg_media_photo .post_media {
  width: auto;
  margin-right: 10px;
}
.im_msg_media_doc, .im_msg_media_video {
  display: inline-block;
}
.im_msg_media_doc .media_desc {
  width: 350px;
}
.wall_module .im_msg_media_doc .post_media,
.wall_module .im_msg_media_video .post_media {
  width: auto;
  margin-right: 10px;
}
.wall_module .im_msg_media_doc .post_media .media-desc {
  padding: 0px;
}
.im_msg_media_video {
  height: 105px;
  overflow: hidden;
}
img.im_video_thumb {
  max-height: 98px !important
}
img.im_photo_thumb {
  max-height: 87px !important
}

.im_audio_filler {
  height: 45px;
}
.im_photo_filler {
  height: 87px;
}
.im_video_filler {
  height: 98px;
}
.im_doc_filler {
  height: 27px;
}
.im_forward_filler {
  height: 100px;
}
.im_log_act {
  padding-left: 10px !important;
  width: 67px;
}
.im_log_date {
  padding-left: 8px !important;
  color: #999;
  width: 52px;
  /* width: 110px; */
}
a.im_date_link {
  color: #999;
}
.im_log_act div.im_log_check_wrap,
.im_log_ract div.im_log_context_wrap {
  visibility: hidden;
  zoom: 1;
  pointer-events: none;
}
.im_log_rspacer {
  width: 59px;
}
.im_new_msg .im_log_author,
.im_new_msg .im_log_body,
.im_new_msg .im_log_date {
  background: #EDF1F5;
}
.im_new_msg .im_log_body .audio.over .area {
  background: #DAE1E8;
}
.im_new_msg .im_log_body .audio.over .duration {
  color: #788594;
}
.im_sel_row .im_log_author,
.im_sel_row .im_log_body,
.im_sel_row .im_log_date,
.im_sel_row {
  background: #EDF1F5;
}
.im_sel_row div.im_log_check_wrap,
.im_msg_over div.im_log_check_wrap,
.im_msg_over div.im_log_context_wrap {
  visibility: visible;
}
.im_sel_row .im_log_check {
  background-position: 0 -65px;
}
.im_new_msg .im_log_date a.im_date_link,
.im_sel_row .im_log_date a.im_date_link,
.im_new_msg .im_fwd_log_date,
.im_sel_row .im_fwd_log_date {
  color: #879BB0;
}

.im_new_msg .wall_module .media_desc .lnk,
.im_sel_row .wall_module .media_desc .lnk,
.im_new_msg .im_media_mail_title,
.im_sel_row .im_media_mail_title {
  color: #6A7989;
}
.im_del_row {
  background: #F4EBD6;
}
.im_del_row td {
  background: #F4EBD6 !important;
  padding-bottom: 4px;
  border-bottom: 1px solid #ECE4CF;
}
.im_del_row .im_log_body {
  color: #7F7661;
}
.im_spam_row .im_log_body {
  color: #728292;
}
.im_marked_res {
  padding-top: 9px;
}
.im_add_row .im_marked_res {
  padding-top: 3px;
}
.im_spam_row {
  background: #E0E7EC;
}
.im_spam_row td {
  padding-bottom: 4px;
  border-bottom: 1px solid #DADFEA;
}
.im_del_row .im_date_link, .im_spam_row .im_date_link {
  display: none;
}
.im_log_t td.im_log_act {
  padding: 4px;
  /* border-bottom-color: #FFF !important; */
}
.im_log_check, .im_log_context {
  cursor: pointer;
  width: 21px;
  height: 16px;
  background: url(/images/icons/plus_icon1.gif?2) 0 -44px no-repeat;
  margin-top: 9px;
}
.im_log_context {
  background-position: 0 -84px;
  margin-top: 8px;
}
.im_log_check_on {
  background-position: 0 -65px;
}

.im_add_row td {
  border-top: 0;
}
.im_add_row .im_log_author a,
.im_add_row .im_log_date span,
.im_add_row .im_log_date a.im_date_link,
.im_add_row .im_log_author_chat_thumb,
.im_add_row .im_log_author_chat_name {
  display: none;
}
.im_add_row .im_log_check {
  margin-top: 1px;
}
.im_add_row .im_log_date .im_log_date_error {
  display: inline;
  color: #800;
}
.im_attach_photo,
.im_attach_video,
.im_attach_doc,
.im_attach_mail,
.im_attach_audio,
.im_attach_geo,
.im_attach_wall,
.im_attach_gift,
.im_attach_link,
.im_attach_sticker {
  float: left;
  background: url(/images/icons/mono_iconset.png?1) no-repeat 0 0;
  width: 12px;
  height: 12px;
  margin: 3px 4px 2px 0;
}
.im_attach_photo {
  background-position: 0px -30px;
}
.im_attach_video {
  background-position: 0px -75px;
}
.im_attach_audio {
  background-position: 0px -222px;
}
.im_attach_doc {
  background-position: 0px -280px;
}
.im_attach_mail,
.im_attach_wall,
.im_attach_wall_reply {
  background-position: 0px -294px;
  margin-top: 4px;
}
.im_attach_geo {
  background-position: 0px -165px;
}
.im_attach_gift {
  background-position: 0px -104px;
}
.im_attach_link {
  background-position: 0px -237px;
}
.im_attach_sticker {
  background-position: 0px -362px;
}

/* Im fwd log */
.im_media_mail_title {
  color: #777;
}
.im_fwd_log_wrap,
.im_wall_log_wrap {
  border-left: 2px solid #C3D1E0;
  padding-left: 10px;
  margin: 10px 0 5px 3px;
}
.im_fwd_log_wrap {
  min-width: 382px;
}


.wall_module .media_desc .audio .title_wrap b {
  background: none;
  width: auto;
  height: auto;
  margin: 0;
}
.im_fwd_log_row .audio .title_wrap,
.im_fwd_log_row .post_media .audio .title_wrap {
  width: 220px;
}
.im_fwd_log_row .audio .title_wrap b,
.im_fwd_log_row .post_media .audio .title_wrap b {
  max-width: 155px;
}
.im_fwd_log_t {
  width: 100%;
}
.im_fwd_log_t .im_fwd_log_row td.im_fwd_log_author {
  padding-top: 5px;
  width: 43px;
}
.im_fwd_log_t .im_fwd_log_row td.im_fwd_log_body {
  padding-top: 5px;
}
.im_fwd_log_body .im_log_author_chat_name {
  display: block;
}
.im_fwd_log_author .im_log_author_chat_thumb a {
  display: inline;
}
.im_fwd_log_author .im_log_author_chat_thumb {
  display: block;
  margin-right: 11px;
}
.im_fwd_log_date {
  color: #999;
  padding-left: 5px;
}
.im_log_body div.im_fwd_log_wrapped {
  width: 300px;
}


.im_error {
  display: none;
  background-color: #FFEFE8;
  border: 1px solid #E89B88;
  font-size: 1em;
  margin: 8px;
  padding: 8px 11px;
}

/* IM controls */
#im_controls_wrap {
  position: relative;
}
#im_resizer_wrap {
  background-color: #F2F2F2;
  padding: 3px;
  cursor: s-resize;
  *height: 10px;
  *overflow: hidden;
}
.im_resizer {
  width: 40px;
  border-top: 1px solid #DAE1E8;
  border-bottom: 1px solid #FFF;
  margin: 0 auto 1px;
}
#im_footer_filler {
  background: #FFF;
  height: 300px;
  margin: 0 -2px;
  overflow: hidden;
}
#im_footer_sh {
  height: 1px;
  margin: 0 -1px;
  background-color: #D9E0E7;
  border-bottom: 1px solid #F3F3F3;
}
#im_sound_controls {
  background-color: #F2F2F2;
  border-top: 1px solid #DAE1E8;
  padding: 13px 10px;
}
#im_browser_notify {
  display: none;
}
#im_peer_controls_wrap {
  background-color: #F2F2F2;
}
#im_peer_controls {
  border-top: 1px solid #DAE1E8;
  padding: 8px 15px 0 67px;
}
td#im_user_holder {
  width: 50px;
  padding-right: 10px;
  vertical-align: top;
}
img.im_user_holder {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
td#im_peer_holders {
  width: 130px;
  padding-left: 10px;
  vertical-align: top;
}
.im_photo_holder {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  overflow: hidden;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.im_photo_holder img {
  width: 50px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.im_status_holder {
  width: 50px;
  padding: 3px 0;
  color: #999;
  text-align: center;
}
.im_peer_mini_holder {
  padding-bottom: 4px;
}
.im_peer_mini_holder:nth-child(2) {
  margin-right: 60px;
}
.im_peer_mini_holder .im_photo_holder {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.im_peer_mini_holder .im_photo_holder img {
  width: 23px;
}
.im_status_online {
  margin-left: 17px;
  position: relative;
  top: -8px;
  width: 4px;
  height: 4px;
  border: 1px solid #EEE;
  background: #8fa9c7;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 10;
}
.im_write_form {
  vertical-align: top;
}
#im_texts {
  /*position: *relative;*/
  position: relative;
  padding-bottom: 6px;
}
.im_txt_wrap {
  position: relative;
}
.im_txt {
  width: 328px;
  height: 42px;
  padding: 3px 25px 3px 3px;
  margin: 0;
  outline: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  resize: none;
  line-height: 150%;
}
.im_txt_warn {
  display: none;
  padding-top: 5px;
  color: #777;
}
#im_send_wrap {
  position: relative;
}
.im_send_cont {
  margin-right: 2px;
}
#im_add_media {
  padding: 6px 0px 0;
}
#im_chat_actions, #im_to_dialog {
  display: none;
  position: relative;
}
.im_media_progress {
  background-position: 50% 50%;
}
.im_attach_label {
  font-weight: bold;
  padding-top: 3px;
}
.im_preview_photo_wrap,
.im_preview_video_wrap {
  margin: -1px 9px 7px -1px;
}
.im_preview_doc_wrap,
.im_preview_mail_wrap,
.im_preview_audio_wrap {
  padding: 5px 0px;
}
.im_preview_doc_wrap .pam_dpic {
  padding: 1px;
}
#im_media_dpreview .im_preview_doc_wrap {
  width: 100px;
  height: 75px;
  margin: -1px 9px 7px -1px;
}
#im_media_mpreview .im_preview_map_wrap {
  padding: 0 10px 8px 0;
}
div.im_preview_photo,
div.im_preview_video {
  position: relative;
  padding: 1px;
  height: 57px;
  overflow: hidden;
  cursor: pointer;
  z-index: 120;
}
div.im_preview_video,
img.im_preview_video {
  width: 75px;
  overflow: hidden;
}
.im_preview_up div.im_preview_photo,
.im_preview_up div.im_preview_video {
  position: absolute;
}
div.im_preview_photo_doc {
  width: 100px;
  min-height: 30px;
  background: #000000;
  text-align: center;
}
.im_preview_photo_doc img {
  display: block;
}
.im_preview_doc_photo_hint {
  width: 92px;
  *width: 100px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  padding: 2px 4px;
  font-size: 0.81em;
  margin-bottom: 5px;
  *background: #000000;
  background: rgba(0,0,0,0.5);
  position: absolute;
  margin-top: -18px;
  height: 14px;
  line-height: 14px;
  *height: 18px;
}
.font_medium .im_preview_doc_photo_hint {
  width: 96px;
  padding: 2px;
}
.font_medium .im_preview_doc_photo_hint span.fl_l {
  display: inline-block;
  max-width: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.im_doc_photo {
  width: 130px;
  height: 100px;
  background: #000000;
  text-align: center;
}
.wall_module .photo .im_doc_photo img {
  max-height: none;
}
.im_doc_photo_hint {
  width: 110px;
  text-align: center;
  color: #FFFFFF;
  *background: #000000;
  background: rgba(0,0,0,0.5);
  position: absolute;
  margin-top: -18px;
  height: 14px;
  *height: 18px;
  padding: 2px 10px;
  font-size: 0.81em;
  margin-bottom: 5px;
  z-index: 1;
}
.im_doc_photo_href:hover {
  text-decoration: none;
}
#im_media_preview,
#im_media_dpreview,
#im_media_mpreview {
  position: relative;
  margin-bottom: 0;
}
#im_docs_preview {
  position: relative;
}
#im_media_preview .im_media_x,
#im_media_dpreview .im_media_x,
#im_media_mpreview .im_media_x {
  position: relative;
  z-index: 105;
  background: #222;
  background: rgba(0, 0, 0, 0.5);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;

  cursor: pointer;
  margin-left: -13px;
}
#im_media_preview .im_media_x:hover .im_x,
#im_media_dpreview .im_media_x:hover .im_x,
#im_media_mpreview .im_media_x:hover .im_x {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#im_docs_preview .im_media_x,
#im_sdocs_preview .im_media_x {
  cursor: pointer;
  margin: 6px 5px 0px;
  background: url(/images/pics/statusx_op.gif) no-repeat 0 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 11px;
  width: 11px;
}
#im_media_dpreview .pam_dpic .im_media_x {
  position: absolute;
  right: 1px;
  top: 1px;
}
#im_media_preview .im_x,
#im_media_dpreview .im_x,
#im_media_mpreview .im_x {
  display: block;
  background: url("/images/notifier_close.gif") no-repeat scroll 0 0 transparent;
  opacity: 0.6;
  filter: alpha(opacity=60);

  width: 7px;
  height: 7px;
}

#im_reading,
#im_rcpt {
  cursor: default;
  overflow: hidden;
  padding: 6px 0 0 5px;
}
#im_reading {
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.im_typing_wrap {
  padding: 13px 0 0;
  min-height: 1.7em;
  *height: 1.7em;
  max-height: 2.5em;
}
.im_typing {
  opacity: 0;
  filter: alpha(opacity=0);
  color: #777;
  background: url(/images/icons/typing.gif?1) 0 2px no-repeat;
  margin: 0 144px 0 130px;
  padding: 1px 0 0 20px;
  cursor: default;
}
.im_lastact {
  color: #777;
  margin: 0 144px 0 130px;
  padding: 0px 0px 6px 0px;
  cursor: default;
}

/* Friends list */
#im_friends {
  padding: 0;
  word-wrap: break-word;
}
.im_friend {
  border-bottom: 1px solid #e4e8ed;
  color: #2B587A;
  font-weight: bold;
  padding: 8px 10px;
  height: 43px;
  cursor: pointer;
}
/*.im_friend:last-child {
  border-bottom: 0;
}*/
.im_friend div.name {
  padding: 15px 6px 0;
  width: 150px;
  height: 14px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.im_chat div.name {
  width: 218px;
}
#im_friends_all .im_friend div.name {
  width: 150px;
}
.im_chat .icon {
  width: 17px;
  height: 11px;
  background: url(/images/icons/multichat_icon.png) 0px 0px no-repeat;
  margin: 16px 0 0 4px;
  padding: 0;
}
.im_friend .im_photo {
  width: 43px;
  height: 43px;
  float: left;
  padding-right: 6px;
}

.im_friend img {
  width: 43px;
  height: 43px;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.im_friend div em, .im_friend_over div em {
  background-color: #FFF8CC;
  border-bottom: 1px solid #FFE222;
  padding: 0;
  font-weight: bold;
  font-style: normal;
}

.im_friend div.online {
  float: none;
  width: auto;
  height: auto;
  padding-top: 15px;
  color: #738392;
  font-weight: normal;
}
.im_friend_over {
  background: #edf1f5;
}
#im_filter_out {
  clear: both;
  padding: 5px;
  position: relative;
}
#im_filter {
  margin: 0;
  padding: 4px 20px 5px 20px;
  width: 304px;
  height: 15px;
  line-height: 15px;
  background: #FFF url(/images/magglass.png) no-repeat 5px 6px;
}
#im_filter::-ms-clear {
  display: none;
}
#im_filter::-webkit-input-placeholder {
  padding: 0 2px;
}
#im_filter:moz-input-placeholder {
  padding: 0 2px;
}
#im_filter_out .input_back_content {
  height: 15px;
  line-height: 15px;
}
#im_filter_reset {
  cursor: pointer;
  display: none;
  background: transparent url(/images/icons/input_clear.gif) 5px 7px no-repeat;
  padding: 5px;
  width: 11px;
  height: 11px;
  margin-left: -23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: relative;
  z-index: 100;
}

.im_none {
  font-size: 1.09em;
  line-height: 160%;
  margin: 0px 10px;
  padding: 130px 0px;
  text-align: center;
  color: #777;
  display: none;
}

#transport_frame {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -100px
}



